numpy==1.18.5
pandas==1.1.5
scikit-learn==0.21
tushare==1.2.62
torch==1.7.1
torchvision==0.8.2
torchaudio===0.7.2
pytorch_transformers==1.2.0
transformers==4.1.1
tqdm==4.54.1
loguru==0.5.3
ipywidgets
#jieba==0.42.1
#marisa_trie==0.7.5