# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Project\stock_predict_by_news_pytorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
